.footer-section {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  position: relative;
  bottom: 0;
}

.footer-content p {
  margin: 0;
  font-size: 16px;
}

.footer-links {
  list-style-type: none;
  margin-top: 30px;
  padding: 0;
}

.footer-links li {
  display: inline-block;
  margin: 0 15px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
