.formData {
  width: 100%;
  padding: 20px 0;
}

.formData form {
  width: 40%;
  height: 40vh;
  margin: auto;
  border: 2px solid darkslategray;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  background-color: lightslategray;
}

.formData form input {
  width: 70%;
  padding: 10px 7px;
  border: 1px solid darkslategray ;
  border-radius: 10px;
}

.formData form button {
  padding: 7px 25px;
  border-radius: 10px;
  border: 2px solid darkslategray;
}
