.heroSection {
  width: 100%;
  height: 90vh;
  display: flex;
  position: relative;
}
.leftHeroSection {
  width: 60%;
  gap: 30px 0;
  padding-top: 10%;
  padding-left: 15%;
}

.leftHeroSection h1 {
  font-size: 92px;
}
.leftHeroSection p {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.leftHeroSection button {
  padding: 9px 17px;
  border-radius: 15px;
  background-color: whitesmoke;
}

.leftHeroSection button:hover {
  background-color: black;
  color: white;
}

.rightHeroSection {
  width: 40%;
}

.rightHeroSection img{
    width: 100%;
    padding-top: 15%;
}
