.TechnologiesIndexSection {
  /* border: 2px solid; */
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}

.TechnologiesIndexSection h2 {
  margin-bottom: 20px;
  font-size: 32px;
}

.TechnologiesIndexSection ol li {
  padding-bottom: 15px;
}

.TechnologiesIndexSection ol li:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
    cursor: pointer;
}